---
import { Image } from 'astro:assets'

import { Quote } from 'astro-pure/advanced'
import { PostPreview } from 'astro-pure/components/pages'
import { getBlogCollection, sortMDByDate } from 'astro-pure/server'
import { Button, Card, Icon, Label } from 'astro-pure/user'
import PageLayout from '@/layouts/BaseLayout.astro'
import ProjectCard from '@/components/home/ProjectCard.astro'
import Section from '@/components/home/Section.astro'
import SkillLayout from '@/components/home/SkillLayout.astro'
import avatar from '@/assets/avatar.png'
import config from '@/site-config'

const programming = ['C','C++', 'Python','R','Haskell']
const tools = ['Visual Studio Code','Git','Linux','Photoshop','Illustrator','Pandoc','Obsidian']
const others = ['Markdown','LaTeX']

const MAX_POSTS = 10
const allPosts = await getBlogCollection()
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS)
---

<PageLayout meta={{ title: 'Home' }} highlightColor='#659EB9'>
  <main class='flex w-full flex-col items-center'>
    <section class='animate mb-10 flex flex-col items-center gap-y-7' id='content-header'>
      <Image
        src={avatar}
        alt='profile'
        class='h-28 w-auto rounded-full border p-1'
        loading='eager'
      />

      <div class='flex flex-col items-center gap-y-4'>
        <h1 class='text-3xl font-bold'>{config.author}</h1>
        <div class='flex flex-wrap justify-center gap-x-7 gap-y-3'>
          <Label title='China / Beijing'>
            <Icon name='location' class='size-5' slot='icon' />
          </Label>
          <Label
            title='Github'
            as='a'
            href='https://github.com/chen571428/'
            target='_blank'
          >
            <Icon name='github' class='size-5' slot='icon' />
          </Label>
        </div>
      </div>

      

    <div id='content' class='animate flex flex-col gap-y-10 md:w-4/5 lg:w-5/6'>
      <Section title='About'>
        <p class='text-muted-foreground'>Developer / Student</p>
        <div class='text-muted-foreground'>
          <p>Hello，我是StatInfer，一个天真的学生。</p>
          <br>
          
        <p>尽管一直有着对计算机的兴趣，但是不知为何通过生物竞赛来到了大学。</p>
          <br>
          <p>算上预科在园子里待了一年多，不知为何还是不清楚大学是啥。</p><br>

          <p>目前就读于北京大学元培学院，希望
          <del>别死在四A大作下</del> 
          能够进入通班学习人工智能。</p><br>
          <p> <>是啊，大学是什么呢？<i>人生是什么呢？</i> </p>
          </div>
        <Button title='More about me' class='w-fit self-end' href='/about' variant='ahead' />
      </Section>
      {
        allPostsByDate.length > 0 && (
          <Section title='Posts'>
            <ul class='flex flex-col gap-y-1.5 sm:gap-y-2'>
              {allPostsByDate.map((p) => (
                <li class='flex flex-col gap-x-2 sm:flex-row'>
                  <PostPreview post={p} />
                </li>
              ))}
            </ul>
            <Button title='More posts' class='w-fit self-end' href='/blog' variant='ahead' />
          </Section>
        )
      }

      <Section title='Experience'>
      <Card
        as='a'
        heading='Peking iGEM 2025'
        subheading='湿实验 负责人'
        date='March. 2025 - Dec. 2025'
        href='https://2025.igem.wiki/peking'
      >
        <img
            class='absolute end-0 z-0 m-0 -my-3 h-full w-1/2 object-cover opacity-50'
            src='/images/Igem_logo_print_black.svg'
          />
      </Card>
      
    </Section> 
      
      <Section title='Education'>
        <Card
          as='a'
          heading='北京大学'
          subheading='元培学院 通用人工智能/计算机科学与技术 （意向）'
          date='Sep. 2025 - Present'
          href='https://yuanpei.pku.edu.cn/'
        >
           <img
            class='absolute end-0 z-0 m-0 -my-3 h-full w-1/2 object-cover opacity-40'
            src='/images/PKU.svg'
          />
        </Card>
        <Card
          as='a'
          heading='北京大学'
          subheading='生命科学学院 保送旁听'
          date='Sep. 2022 - June. 2025'
          href='https://www.bio.pku.edu.cn/'
        >
           <img
            class='absolute end-0 z-0 m-0 -my-3 h-full w-1/2 object-cover opacity-40'
            src='/images/PKU.svg'
          />
        </Card>
        <Card
          as='a'
          heading='长沙市第一中学'
          subheading='生物竞赛组'
          date='Sep. 2024 - Aug. 2025'
          href='http://www.hnfms.com.cn//'
        >
           <img
            class='absolute end-0 z-0 m-0 -my-3 h-full w-1/2 object-cover opacity-40'
            src='/images/hnfms.png'
          />
        </Card>
      </Section>
      <Section title='Skills'>
        <SkillLayout title='Programming' skills={programming} />
        <SkillLayout title='Tools' skills={tools} />
        <SkillLayout title='Others' skills={others} />
      </Section>
    </div>
    <Quote class='mt-12' />
  </main>
</PageLayout>
